<!DOCTYPE html>
<html>
<head>
    <style>
        table,th,td
        {
        border:1px solid black;
        border-collapse:collapse;
        margin: 20px;
        }
        th,td
        {
        padding:5px;
        }
        table
        {
        float:left
        }
    </style>
</head>
<body>

<table style="width:300px">
    <tr>
        <th>Group 1</th>
    </tr>
    <tr>

        <th>Username</th>
        <th>Character code</th>
        <th>Matches won</th>
    </tr>
    {% for p in list_of_players %}
        {% if p.group_nbr == 1 %}
             <tr>

                <td>{{p.nick}}</td>
                <td>{{p.char_code}}</td>
                <td>{{p.matches_won}}</td>
            </tr>
        {% endif %}
    {% endfor %}
</table>


<table style="width:300px">
    <tr>
        <th>Group 2</th>
    </tr>
    <tr>
        <th>Username</th>
        <th>Character code</th>
        <th>Matches won</th>
    </tr>
    {% for p in list_of_players %}
        {% if p.group_nbr == 2 %}
             <tr>

                <td>{{p.nick}}</td>
                <td>{{p.char_code}}</td>
                <td>{{p.matches_won}}</td>
            </tr>
        {% endif %}
    {% endfor %}
</table>


<table style="width:300px">
    <tr>
        <th>Group 3</th>
    </tr>
    <tr>
        <th>Username</th>
        <th>Character code</th>
        <th>Matches won</th>
    </tr>
    {% for p in list_of_players %}
        {% if p.group_nbr == 3 %}
             <tr>

                <td>{{p.nick}}</td>
                <td>{{p.char_code}}</td>
                <td>{{p.matches_won}}</td>
            </tr>
        {% endif %}
    {% endfor %}
</table>


<table style="width:300px">
    <tr>
        <th>Group 4</th>
    </tr>
    <tr>
        <th>Username</th>
        <th>Character code</th>
        <th>Matches won</th>
    </tr>
    {% for p in list_of_players %}
        {% if p.group_nbr == 4 %}
             <tr>

                <td>{{p.nick}}</td>
                <td>{{p.char_code}}</td>
                <td>{{p.matches_won}}</td>
            </tr>
        {% endif %}
    {% endfor %}

</table>
    <br>
    <br>
    <form name="input" method="post">
         <b>Nick:</b> <input type="text" name="nick">
    <input type="submit" value="Add match won">
    </form>
</body>
</html>
