<!DOCTYPE html>
<html>
    <head lang="en">
        <meta charset="UTF-8">
        <title>Starcraft Tournament</title>
    </head>
    <body>
        {% if nickname %}
            <b>Hello {{nickname}}!</b> (<a href="{{logout_url}}">sign out</a>)
            <br>
            Welcome to Helsingkronas Starcraft 2 tournament page.
            <br>
            <a href="/signup">Follow this link to register</a>, and please make sure you have your payment confirmation key ready.
            <br>
            <br>
            <br>
            If you haven't got a payment confirmation key, try contacting us:
            <br> Filip.harald@gmail.com
            <br> limstift_@hotmail.com
        {% else %}
            Please sign in with your Google account:
            <br>
            <a href="{{sign_in_url}}">Sign in or register</a>
        {% endif %}
        <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
        <a href="/admin">Admin</a>
    </body>
</html>