<!DOCTYPE html>
<html>
    <head lang="en">
        <meta charset="UTF-8">
        <title>Sign up</title>
    </head>
    <body>
        Please enter your Starcraft 2 username and character code.
        <form method="post">
            Starcraft 2 username: <input type="text" name="nick" value="{{username}}">{{error_nick}}<br>
            Starcraft 2 character code: <input type="text" name="char_code">{{error_char_code}}<br>
            Payment code: <input type="text" name="pay_code">{{error_pay_code}}{{error_wrong_pay_code}}<br>
            <b>{{error_already_registered}}</b>
            <br>
            <input type="submit" value="Submit">
            <a href="/">Main page</a>
        </form>
    </body>
</html>